<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" href="/styles/createBlog.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2 class="heading">Create a new Blog.</h2>
        
        <form action="/api/blogs/create" method="POST" autocomplete="off">
            <label for="author">Author</label>
            <input type="text" name="author" id="author"><br>

            <label for="title">Title</label>
            <input type="text" name="title" id="title"><br>

            <label for="conent">Content</label>
            <textarea rows="4" name="content" id="content"></textarea><br>
            <button type="submit">Create</button>
        </form>

        <div class="home">
            <a href="/">Back to Home</a>
        </div>
    </div>
</body>
</html>
